{% extends 'base.html.twig' %}

{% block body %}
	<h2>Pictures lists</h2>
	
	<div class="container">
		<ul class="product-gallery">		

		<li class="gallery-img">
		<img src='Images/img1.jpg' alt="img01">
		<div data-desc="Image Descript 1"></div>
		</li>		

		<li class="gallery-img">
		<img src='Images/img2.jpg' alt="img02">
		<div data-desc="Image Descript 2"></div>
		</li>		

		<li class="gallery-img">
		<img src='Images/img3.jpg' alt="img03">
		<div data-desc="Image Descript 3"></div>
		</li>		

		</ul>
	</div>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>

{% endblock %}