{% extends 'base.html.twig' %}

{% block body %}
	<h2>Pictures lists</h2>
	
	<div class="container">
		<div class="row grid">
	        <div class="col-xs-4 thumbnail">
	            <img src="http://shobase.de/api/thumb.php?p=2013/IMG_2.jpg" />
	        </div>    
	        <div class="col-xs-4 thumbnail">
	            <img src="http://shobase.de/api/thumb.php?p=2013/IMG.jpg" />
	        </div>    
	        <div class="col-xs-4 thumbnail">
	            <img src="http://shobase.de/api/thumb.php?p=2013/satc_collage/IMG_0030-basis.jpg" />
	        </div>    
	        <div class="col-xs-4 thumbnail">
	            <img src="http://shobase.de/api/thumb.php?p=2013/sommer13/_DSC9400.jpg" />
	        </div>    
	        <div class="col-xs-4 thumbnail">
	            <img src="http://shobase.de/api/thumb.php?p=2013/siehste/_DSC9307.jpg" />
	        </div>    
	        <div class="col-xs-4 thumbnail">
	            <img src="http://shobase.de/api/thumb.php?p=2013/kameraunterwegs/IMG_0011.jpg" />
	        </div>    
	        <div class="col-xs-4 thumbnail">
	            <img src="http://shobase.de/api/thumb.php?p=2013/Untitled-1.jpg" />
	        </div>    
	        <div class="col-xs-4 thumbnail">
	            <img src="http://shobase.de/api/thumb.php?p=blog2012/sacity/speedhaus.jpg" />
	        </div>    
		</div>
	</div>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>

{% endblock %}